<footer class="site-footer">
    <div class="site-footer-grid container">

        <div class="site-footer-grid-left">
            <a href="/"><img class="logo light" src="/assets/light/logo-horizontal-640x119.png" alt="logo"></a>
        </div>

        <div class="site-footer-grid-middle">
            Copyright &copy; 2021 - <script>document.write(new Date().getFullYear())</script> das Kollektiv e.V.<br />
            Erstellt mit ❤ durch <a href="https://sven-seyfert.de" target="_blank">Sven Seyfert</a>
            <i class="fa fa-external-link" aria-hidden="true"></i>, <a href="https://11ty.dev" target="_blank">#11ty</a>
            <i class="fa fa-external-link" aria-hidden="true"></i>.
        </div>

        <div class="site-footer-grid-right">
            <a href="/datenschutz/">Datenschutzerklärung</a><br/>
            <a href="/impressum/">Impressum</a><br/>
            <a href="/TODO">Instagram</a> <i class="fa fa-external-link" aria-hidden="true"></i>
        </div>

    </div>
</footer>
