---
layout: 'base.njk'
pagination:
    data: collections.post
    size: 3
    alias: posts
    reverse: true
---

<section class="hero">
    <div class="container flow">
        <div class="hero__content flow">

            <h1 class="section-title">Angebote</h1>

            <p>Ab vitae aut ipsam dolorem rerum adipisci voluptatum. Officia at id quas. Enim et quo doloribus. Doloremque optio voluptatibus fugiat facere est aut officiis. Asperiores quo sunt non minima earum dignissimos dignissimos eos exercitationem. Repellat esse veniam praesentium ut dolore voluptas non minus.</p>

            <div class="container flow">
                <div class="offers">
                    <div><img src="https://www.kosmo.at/wp-content/uploads/2020/04/Corona_Freunde_Treffen_Familie.jpg"><p>Offener Treff</p></div>
                    <div><img src="https://cdn.hff.de/image/upload/c_scale,w_1920/f_auto/q_auto:good/v1/Assets/Onsite-Jobs/Magazin-Seiten/jako_basteln_im_fruehling_10_AdobeStock_227522313"><p>Basteln für Kinder</p></div>
                    <div><img src="https://www.main-echo.de/storage/image/1/2/8/5/5725821_artikeldetail-bild_1zX9HV_32JwRU.jpg"><p>Spielenachmittag für Kinder</p></div>
                    <div><img src="https://media1.lokalplus.nrw/articles/2022/01/59348/14290-89923-w-183810.webp"><p>Reparier-Café</p></div>
                    <div><img src="https://www.boehmenkirch.de/fileadmin/_processed_/d/7/csm_children-4355477_1280_fb1ae74117.jpg"><p>Wanderungen</p></div>
                    <div><img src="https://tu-dresden.de/gsw/phil/ige/ressourcen/bilder/bildpool/RS7985_panthermedia_B83042068.jpg/@@images/54830e6d-a331-4acd-b79e-11eff804e75f.jpeg"><p>Vorträge</p></div>
                    <div><img src="https://www.apotheke-adhoc.de/fileadmin/_processed_/b/d/csm_flohmarkt2_AdobeStock_4f1fb48812.jpg"><p>Flohmarkt</p></div>
                    <div><img src="https://fbk-niedersachsen.de/wp-content/uploads/fbk_lesungbroeger_2021-1800x1193.jpg"><p>Lesungen</p></div>
                    <div><img src="https://preview.redd.it/filmabend-freunde-popcorn-gem%C3%BCtlichkeit-v0-xejp0icrfpaa1.jpg?width=612&format=pjpg&auto=webp&s=ad2c449d1374f31c7627be6534b50b1d31040b5f"><p>Filmabende</p></div>
                    <div><img src="https://www.smarticular.net/wp-content/uploads/2017/01/tauschboersen-im-internet-6.jpg"><p>Tauschbörse</p></div>
                    <div><img src="https://www.stephan-nanz.de/assets/images/f/konzert-buehne-mit-saenger-48b75b5a.jpg"><p>Konzert- und Tanzveranst.</p></div>
                    <div><img src="/assets/light/logo-320.png"><p>das Kollektiv e. V.</p></div>
                </div>
            </div>

        </div>
    </div>
</section>
