---
layout: 'base.njk'
pagination:
    data: collections.post
    size: 3
    alias: posts
    reverse: true
---

<section class="hero">
    <div class="container flow">
        <div class="hero__content flow">

            <h1 class="section-title">Impressum</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Risus commodo viverra maecenas accumsan lacus vel. Donec ultrices tincidunt arcu non sodales. Mattis rhoncus urna neque viverra justo nec ultrices dui sapien. Pretium quam vulputate dignissim suspendisse in est.</p>

        </div>
    </div>
</section>
