---
layout: 'base.njk'
pagination:
    data: collections.post
    size: 3
    alias: posts
    reverse: true
---

<section class="section">
    <div class="container flow">
        <div class="hero__content flow">

            <h1 class="section-title">Impressum</h1>

            <br />

            <h3>Angaben gem&auml;&szlig; &sect; 5 TMG</h3>
            <p>
                das Kollektiv e. V.<br />
                Am Wasserturm 115<br />
                04523 Pegau
            </p>

            <p>
                Vereinsregister: VR 7666<br />
                Registergericht: Amtsgericht Leipzig
            </p>

            <p>
                Vertreten durch die Vorsitzenden:<br />
                Andy Zwicker, Nicole Helbig
            </p>

            <h3>Kontakt</h3>
            <p>
                Telefon: +49 (0) 160 998 36359<br />
                E-Mail: info@daskollektiv-pegau.de
            </p>

            <h3>Umsatzsteuer-ID</h3>
            <p>
                Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
                DE123456789
            </p>

            <h3>Redaktionell verantwortlich</h3>
            <p>Andy Zwicker (Adresse oben)</p>

            <h3>EU-Streitschlichtung</h3>
            <p>
                Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:<br />
                <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a> <i class="fa fa-external-link" aria-hidden="true"></i>
            </p>

            <h3>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h3>
            <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

        </div>
    </div>
</section>
