---
layout: 'base.njk'
pagination:
    data: collections.post
    size: 3
    alias: posts
    reverse: true
---

<section class="hero">
    <div class="container flow">

        <div>
            <img src="https://picsum.photos/510" alt="" class="hero__image">
        </div>

        <div class="hero__content flow">
            <h1 class="section-title">Wer wir sind</h1>

            <p>Wir als Verein, das Kollektiv, setzen uns für die Förderung von Kunst, Kultur und bürgerschaftlichen Engagements zugunsten gemeinnütziger Zwecke in Pegau ein. Dabei sollen "neue" und "alteingesessene" Pegauer:innen zusammenkommen und sich kennenlernen.</p>
            <p>Wir möchten Orte der Begegnung, der Wissensvermittlung und des Austauschs schaffen, um Verständnis füreinander zu entwickeln, eine demokratische Gesellschaft zu ermöglichen und um die Lebensqualität im Ort zu erhöhen.</p>
            <p>Hierzu führen wir kulturelle Veranstaltungen durch und greifen gesellschaftspolitische Themen wie demografischer Wandel, Zuwanderung und Klimawandel auf.</p>
        </div>

    </div>
</section>

<section class="section container flow">
    <h2 class="section-title text-center">Unsere Geschichte</h2>
    <p class="text-center">Fugit voluptates sequi. Praesentium dolorem porro quia. Voluptatum esse quos id quia eius ducimus non. Eum quas ea voluptatum ipsa. Similique fugit et quia explicabo fugit earum consectetur. Voluptas est necessitatibus alias. Ab repellat cum. Quidem consequuntur in. Quasi cum omnis suscipit cupiditate qui sint soluta commodi voluptatum. Perferendis omnis harum perspiciatis et ipsum.</p>
</section>

<section class="section container flow">
    <h2 class="section-title text-center">Unsere Ziele</h2>
    <p class="text-center">Dolor molestiae illo eaque fugit amet minus. Vitae quas necessitatibus nulla ea totam exercitationem. Dolorem asperiores qui labore in magni vel corrupti iure. Nulla aut ut voluptatem distinctio libero. Aut eveniet ducimus labore voluptas est. Eligendi et aut corporis ratione quia quas. Et aliquam eaque quam quas temporibus quia sint voluptatibus ea. Quia ut et quibusdam quod tenetur repudiandae. Incidunt sed magni est. Quidem dolor hic necessitatibus. Praesentium eos facilis. Mollitia placeat qui qui culpa voluptatem.</p>
</section>

<section class="section container flow">
    <h2 class="section-title text-center">Unsere Satzung</h2>
    <p class="text-center">Neque unde atque labore inventore asperiores perferendis excepturi officiis. Ad corporis fugiat ad. Ad veritatis nemo hic omnis aspernatur recusandae officia voluptatum impedit. Quo sapiente sit molestiae iste mollitia. Voluptas laudantium autem assumenda. Eos cupiditate omnis. Sit id et. Aut nesciunt sapiente nobis excepturi necessitatibus quibusdam in. Doloribus a dicta error mollitia pariatur culpa omnis veniam. Laborum commodi quia harum. Nam aut qui commodi. Eaque velit doloribus cupiditate sint omnis et impedit.</p>
</section>

<section class="facts flow">
    <h2 class="section-title text-center">Mitglieder</h2>
    <p class="text-center">Ex ex expedita ut repellat. Sequi eos est laborum reprehenderit.</p>
</section>

<div class="container flow">
    <p>Cumque accusantium autem et minus in occaecati. Ratione ut animi ab qui officiis nihil voluptas distinctio aut. Tempore ducimus illum ratione aperiam.</p>
</div>
